html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
}

.section{
  font-size: 6em;
  text-align: center;
}

.section img {
  width: 100%;
  display: inline-block;
}

.section p, h2, h3, h4 {
  position: absolute;
  z-index: 200;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  color: white;
}

.section p {
  top: 40%;
  font-size: 50px;
}

.section h2 {
  top: 40%;
}

.section h3 {
  top: 50%;
}

.section h4 {
  top: 60%;
}

@media (max-width: 700px) {
  .section h4 {
    top: 65%;
  }
}

.cover1 {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover1.jpg");
  background-size:cover;
  background-position: center;
}

.cover2 {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover2.png");
  background-size:cover;
  background-position: center;
}

.cover3 {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover3.jpg");
  background-size:cover;
  background-position: center;
}

.cover4 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cover4.jpg");
  background-size:cover;
  background-position: center;
}

.cover5 {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover5.png");
  background-size:cover;
  background-position: center;
}

.project-box-container {
  padding-top: 20%;
}

.project-box {
  height: 30%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-wrap: wrap;
  color: #4C4C4C;
  margin-right: 10%;
  margin-left: 10%;
}

.project {
  flex: 200px;
  background: white;
  opacity: 0.9;
  border-radius: 5px;
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.img-cont {
  display: block;
}

.text-cont {
  margin-top: 10px;
  font-size: 1rem;
}

.text-cont.project-title {
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 545px) {
  .project-h2 {
    top: 10% !important;
  }
  .project-box {
    height: 30%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
    color: #4C4C4C;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20%;
  }
}

.lang {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Typewriter effect */
.typewriter h3, h2 {
  width: fit-content;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 1s steps(70, end),
    blink-caret .75s step-end infinite;
}

.typewriter-black {
  width: fit-content;
  color: black;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 1s steps(70, end),
    blink-caret-black .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

@keyframes blink-caret-black {
  from, to { border-color: transparent }
  50% { border-color: black }
}
