body {
  scroll-behavior: smooth;
}

.jump {
  position: relative;
  display: inline-block;
  font-weight: 300;
  color: #007bff;
  overflow: hidden;
  background: linear-gradient(to right, #007bff, #007bff 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.jump_black {
  position: relative;
  display: inline-block;
  font-weight: 300;
  color: #007bff;
  overflow: hidden;
  background: linear-gradient(to right, #007bff, #007bff 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}



a:hover {
  background-position: 0 100%;
}

hr {
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 50px 0;
  padding-bottom: 0px;
}

section h2 {
  font-size: 40px;
}

/* Cover photo */
header .header-content {
  color: white;
}

header.masthead-about,
header.masthead-work,
header.masthead-interests,
header.masthead-blog {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background-size: cover;
}

header.masthead-about {
  background-image: url("../images/cover1.jpg");
  background-position: center;
}

header.masthead-work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cover_work.jpg');
}

header.masthead-interests {
  background-image: url("../images/cover_interests2.jpg");
  background-position: center top;
}

header.masthead-blog {
  background-image: url("../images/cover_blog.jpg");
  background-position: center center;
}

header.masthead-about .header-content,
header.masthead-work .header-content,
header.masthead-interests .header-content,
header.masthead-blog .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead-about .header-content h1,
header.masthead-work .header-content h1,
header.masthead-interests .header-content h1,
header.masthead-blog .header-content h1 {
  font-size: 30px;
}

@media (min-width: 992px) {
  header.masthead-about,
  header.masthead-work,
  header.masthead-interests,
  header.masthead-blog {
    height: 70vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead-about .header-content,
  header.masthead-work .header-content,
  header.masthead-interests .header-content,
  header.masthead-blog .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead-about .header-content h1,
  header.masthead-work .header-content h1,
  header.masthead-interests .header-content h1,
  header.masthead-blog .header-content h1 {
    font-size: 50px;
  }
  header.masthead-about .device-container,
  header.masthead-work .device-container,
  header.masthead-interests .device-container,
  header.masthead-blog .device-container {
    max-width: 325px;
  }
}

section.about .section-heading,
section.work .section-heading,
section.interests .section-heading {
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;

}
section.about .section-heading h2,
section.work .section-heading h2,
section.interests .section-heading h2 {
  margin-top: 0;
}
section.about .section-heading p,
section.work .section-heading p,
section.interests .section-heading p {
  margin-bottom: 0;
}

section.about .about-item,
section.work .work-item,
section.interests .interests-item {
  padding-top: 10px;
  padding-bottom: 10px;
  /* text-align: center; */
}
section.about .about-item.center,
section.work .work-item.center,
section.interests .interests-item.center {
  text-align: center;
}
section.about .about-item h3,
section.work .work-item h3,
section.interests .interests-item h3 {
  font-size: 30px;
}

.about-item h6 {
  opacity: 0.5;
}

section.about .about-item img,
section.work .work-item img,
section.interests .interests-item img {
  width: 100%;
}

.typewriter h1 {
  width: fit-content;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 1s steps(70, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/* ABOUT */
.complang {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.bg-0-eurey {
  padding-bottom:100px;
  background-image:url('../images/eurey_nobg.png');
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .complang {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
  }

  .bg-0-eurey {
    padding-bottom:100px;
    background-image:url('../images/eurey_nobg.png');
    background-position: right bottom;
    background-size: 80%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 1200px) {
  .bg-0-eurey {
    padding-bottom:100px;
    background-image:url('../images/eurey_nobg.png');
    background-position: right bottom;
    background-size: 70%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 992px) {
  .bg-0-eurey {
    padding-bottom:100px;
    background-image:url('../images/eurey_nobg.png');
    background-position: right bottom;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 575px) {
  .bg-0-eurey {
    padding-bottom:100px;
    background-image:url('../images/eurey_nobg.png');
    background-position: right bottom;
    background-size: 70%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 562px) {
  .bg-0-eurey {
    padding-bottom:100px;
    background-image:url('../images/eurey_nobg.png');
    background-position: right bottom;
    background-size: 60%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 414px) {
  .bg-0-eurey {
    padding-bottom:100px;
    background-image:url('../images/eurey_nobg.png');
    background-position: right bottom;
    background-size: 80%;
    background-repeat: no-repeat;
  }

  .center {
    justify-content: center !important;
    margin-right: 0px !important;
  }
}
