{% include 'header.html' %}

  <style>@import url('../static/css/secondaryPages.css')</style>

  <header class="masthead-about">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-12 my-auto" style="margin-bottom:0px !important;">
          <div class="header-content mx-auto" style="text-align: center">
            <div class="typewriter">
              <h1 class="mb-5" style="text-align: center;">About Me / Work</h1>
            </div>
          </div>
        </div>

        <div class="col-lg-12 my-auto" style="text-align:center; margin-top:0px!important;">
          <div class="row">
            <div class="col-sm-3">
              <h5><a class="jump" href="#intro">Introduction</a></h5>
            </div>
            <div class="col-sm-3">
              <h5><a class="jump" href="#education">Education</a></h5>
            </div>
            <div class="col-sm-3">
              <h5><a class="jump" href="#work">Work</a></h5>
            </div>
            <div class="col-sm-3">
              <h5><a class="jump" href="#projects">Projects</a></h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <section class="about">

    <div class="container-fluid" style="padding-right: 0px;
padding-left: 0px;">

      <a id="intro"></a>
      <div class="bg-0-eurey">
        <div class="container" style="padding-bottom:50px;">
          <div class="section-heading" style="margin-left:0px; margin-right:0px;">
            <h2 style="margin-left:5%; margin-right:5%;margin-top: 30px;">Introduction</h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-sm-12" style="margin-left:5%; margin-right:5%;">
                <h5>I am a senior at Columbia University majoring in Computer Engineering seeking opportunities to work in the U.S.</h5>
                <h5>I am interested in positions where I can apply my knowledge in software/hardware as well as managing teams.</h5>
                <h5>My interests lie in app development for social impact, design, video, and music.</h5>
            </div>
          </div>

          <div class="row center" style="margin-top: 5%; margin-right: 5%;justify-content:flex-start;">
            <img class="complang" src="../static/images/python.png" style="object-fit: contain; width: 100px; height:100px;">
            <img class="complang" src="../static/images/java.png" style="object-fit: contain; width: 100px; height:100px;">
            <img class="complang" src="../static/images/javascript.png" style="object-fit: contain; width: 100px; height:100px;">
            <img class="complang" src="../static/images/postgres.png" style="object-fit: contain; width: 100px; height:100px;">
            <img class="complang" src="../static/images/html.png" style="object-fit: contain; width: 100px; height:100px;">
            <img class="complang" src="../static/images/css.png" style="object-fit: contain; width: 100px; height:100px;">
          </div>
        </div>
      </div>

      <a id="education"></a>
      <div class="bg-1" style="background-color:#F7FCFF;padding-top:50px; padding-bottom:50px;">
        <div class="container">
          <div class="section-heading">
            <h2>Education</h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-sm-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="about-item">
                      <a href="https://compeng.columbia.edu/" target="_blank"><img src="../static/images/columbia.png"></a>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="about-item">
                      <div class="row">
                        <div class="col-sm-9">
                          <h4>Columbia University</h4>
                          <h5>Computer Engineering, B.S.</h5>
                          <h6>Relevant Courseworks</h6>
                          <div class="row">
                            <div class="col-sm-6">
                              <h6>-Circuit Analysis + Lab</h6>
                              <h6>-Signals and Systems + Lab</h6>
                              <h6>-Electronic Circuits + Lab</h6>
                              <h6>-Fundamentals of Computer Systems + Lab</h6>
                            </div>
                            <div class="col-sm-6">
                              <h6>-Computer Networks</h6>
                              <h6>-Computer Science Theory</h6>
                              <h6>-Probability</h6>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3" style="">
                          <p>2019 - 2021</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="about-item center">
                        <a href="https://www.brandeis.edu/computer-science/" target="_blank"><img src="../static/images/brandeis.png" style="width: 70%;"></a>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-sm-9">
                            <h4>Brandeis University</h4>
                            <h5>Computer Science, B.S.</h5>
                            <h6>Relevant Courseworks</h6>
                            <div class="row">
                              <div class="col-sm-6">
                                <h6>-Operating Systems</h6>
                                <h6>-Practical Machine Learning</h6>
                                <h6>-Fundamentals of Artificial Intelligence</h6>
                                <h6>-Mobile Application Development</h6>
                                <h6>-Data Structures and Algorithms</h6>
                              </div>
                              <div class="col-sm-6">
                                <h6>-3D Animation</h6>
                                <h6>-Differential Equations</h6>
                                <h6>-Multivariable Calculus</h6>
                                <h6>-Discrete Structures</h6>
                                <h6>-Applied Linear Algebra</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3" style="">
                            <p>2016 - 2019</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="about-item center">
                        <a href="https://www.stmaur.ac.jp/" target="_blank"><img src="../static/images/stmaur.png" style="width: 70%;"></a>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-sm-9">
                            <h4>Saint Maur International School</h4>
                            <h5>International Baccalaureate Bilingual Diploma</h5>
                            <div class="row">
                              <div class="col-sm-6">
                                <h6>Higher Level Courses</h6>
                                <h6>-Physics</h6>
                                <h6>-Economics</h6>
                                <h6>-Visual Arts</h6>
                                <h6>-Japanese A</h6>
                              </div>
                              <div class="col-sm-6">
                                <h6>Standard Level Courses</h6>
                                <h6>-English Performance and Literature</h6>
                                <h6>-Mathematics</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3" style="">
                            <p>2009 - 2016</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>

        <!-- https://colorhunt.co/palette/181131 -->
        <!-- https://coolors.co/ -->
      <a id="work"></a>
      <div class="bg-1" style="background-color:white;padding-top:50px; padding-bottom:50px;">
        <div class="container">
          <div class="section-heading" style="margin-left:0px; margin-right:0px;">
            <h2 style="margin-left:5%; margin-right:5%;margin-top: 30px;">Work Experiences</h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-lg-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="about-item">
                      <a href="https://jp.micron.com/" target="_blank"><img src="../static/images/micron.png"></a>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="about-item">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>Micron Memory Japan</h4>
                          <h5>Failure Analysis Intern</h5>
                          <h6>-Investigated memory failures in DRAM that were returned from customers</h6>
                          <h6>-Reproduced failures to check if the problem was reocurring</h6>
                          <h6>-Rigorously tested DRAM in different environments</h6>
                        </div>
                        <div class="col-lg-3" style="">
                          <p>June 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="http://www.ni.com/ja-jp.html" target="_blank"><img src="../static/images/ni.png"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>National Instruments Japan</h4>
                            <h5>Software and Hardware Engineer Intern</h5>
                            <h6>-Developed a product to showcase company's strength in career forums</h6>
                            <h6>-Software side was handled by NI's LabView and its Vision module to display the company profile as well as games that introduced and mimicked few of their products</h6>
                            <h6>-Hardware side was made with Lego Mindstorms and ultrasonic sensor to create a robot arm that accepts resumes and drops them off at a designated box</h6>
                            <h6>
                              -Live demonstration can be found
                              <a href="https://drive.google.com/file/d/1U59FKCH5oq283TpZ-8DgekAybgqeowgW/view?usp=sharing" target="_blank">here</a>
                            </h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>July 2018</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://www.team-lab.com/" target="_blank"><img src="../static/images/teamLab.png" style="border-radius: 15px;"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>teamLab Inc.</h4>
                            <h5>Data Scientist at Machine Learning Team</h5>
                            <h6>-Analysis of customer data to be used in the recommendation system</h6>
                            <h6>-Used PostgrSQL, Python, and Shell script to investigate user flow, user interaction, and user information</h6>
                            <h6>-Proposed new index to increase click through rate and the conversion rate for each of the webites</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>May 2018 - June 2018</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://uniaim.co.jp/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A4%E3%83%B3%E3%83%95%E3%83%AB%E3%81%AE%E5%AD%90%E4%BC%9A%E7%A4%BE%E5%8C%96%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6/" target="_blank"><img src="../static/images/influ.jpeg" style="border-radius: 15px;"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>influ Inc.</h4>
                            <h5>Software Engineer Intern</h5>
                            <h6>-Worked on web applications for digital stamp rally and digital invitation card system</h6>
                            <h6>-Used Python with Flask, HTML, CSS, JavaScript to work on both frontend and backend</h6>
                            <h6>-Wrote the entire unit test and integration test for the databse of the digital stamp rally application</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>May 2017 - July 2017</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr>

                </div>
              </div>
            </div>
        </div>
      </div>

      <a id="projects"></a>
      <div class="bg-2" style="background-color:#F7FCFF;padding-top:50px;padding-bottom:60px;">
        <div class="container">
          <div class="section-heading" style="margin-left:0px; margin-right:0px;">
            <h2 style="margin-left:5%; margin-right:5%;margin-top: 30px;">
              Projects
            </h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-lg-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="about-item">
                      <a href="http://teech-frontend.s3-website-us-west-2.amazonaws.com/search" target="_blank"><img src="../static/images/teech.jpg" style="border-radius: 15px;"></a>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="about-item">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>Teech</h4>
                          <h5>First Place at Columbia DevFest '20</h5>
                          <h6>-Online platform for taching language through various TV shows and their subtitles</h6>
                          <h6>-Users are able to learn important vocabulary words and phrases chosen with NLP for each episode before watching the episode.</h6>
                          <h6>-Each word and phrase has an audio associated so that users can learn the correct pronunciation.</h6>
                          <h6>-There is also a quiz component where you can test your understanding before watching the show.</h6>
                          <h6>-Worked on the backend with Node and Express.</h6>
                          <h6>-Live demo <a href="http://teech-frontend.s3-website-us-west-2.amazonaws.com/search" target="_blank">here</a>.</h6>
                          <h6>-Devpost <a href="https://devpost.com/software/teech" target="_blank">here</a>.</h6>
                        </div>
                        <div class="col-lg-3" style="">
                          <p>Feb 2020</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://idea-collector-bb9fc.web.app/new" target="_blank"><img src="../static/images/tworeahamw.jpg" style="border-radius: 15px;"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>Tworeahamw Idea Collector</h4>
                            <h5>YouTube Video Idea Collector</h5>
                            <h6>-Web/Mobile app to collect video ideas from peers.</h6>
                            <h6>-With upvote and comment functionality to get an idea of what sort of videos people like and create videos with highest demand.</h6>
                            <h6>-Live demo <a href="https://idea-collector-bb9fc.web.app/new" target="_blank">here</a>.</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>May 2020</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://github.com/eureyuri/dolly" target="_blank"><img src="../static/images/dolly.png"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>dolly</h4>
                            <h5>Transcribe meeting logs</h5>
                            <h6>-Synchronous transcribing for short meetings (<5 min)</h6>
                            <h6>-Asynchronous transcribing for longer meetings</h6>
                            <h6>-Analyzes keywords that appeared during the meeting and ranks them by mentioned more than 10 times, 30 times, and random suggestions using NLP</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>June 2019</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://jsa-brandeis.herokuapp.com/" target="_blank"><img src="../static/images/jsa.png"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>Brandeis JSA Website</h4>
                            <h5>Website for Club</h5>
                            <h6>-Website for Japanese Student Association displaying general information, upcoming events, and how to get involved.</h6>
                            <h6>-Functionality of adding members to website.</h6>
                            <h6>-Developed with Python with flask and PostgreSQL</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>July 2018</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://github.com/eureyuri/LANL_Earthquake_Prediction" target="_blank"><img src="../static/images/lanl.png" style="border-radius: 15px;"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>Kaggle LANL Earthquake Prediction</h4>
                            <h5>First Kaggle Competition</h5>
                            <h6>-Forecasted lab earthquakes</h6>
                            <h6>-Denoised acoustic data and used FFT to divide into components with different frequencies.</h6>
                            <h6>-Applied to feature extraction from short term average, long term average, k-Nearest neighbors, mean, standard deviation, max, min, quantile, trend, peak-to-peak, moments, and geometric and harmonic series.</h6>
                            <h6>-Utilized LightGBM for the machine learning model.</h6>
                            <h6>-Competition found <a href="https://www.kaggle.com/c/LANL-Earthquake-Prediction/overview" target="_blank">here</a>.</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>May 2019</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://github.com/mk24934/cosi-149b-project2" target="_blank"><img src="../static/images/stock.png" style="border-radius: 15px;"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>Stock Market Prediction</h4>
                            <h5>ML Project</h5>
                            <h6>-Cleaned data and focused on adjusted open, adjusted high, adjusted low, adjusted close, and moving average values for training</h6>
                            <h6>-Utilized LSTM for the machine learning model.</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>April 2019</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://github.com/vincentdh1993/HousingApp" target="_blank"><img src="../static/images/help.png" style="border-radius: 15px;"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>HELP</h4>
                            <h5>Android Housing Application: Yelp but for housing</h5>
                            <h6>-Crowdsourced landlord and apartment rating application.</h6>
                            <h6>-Users will be able to rate landlords and apartments, creating a knowledge base accessible to the whole world.</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>Dec 2017</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="about-item center">
                        <a href="https://github.com/eureyuri/codestellation-manhunt" target="_blank"><img src="../static/images/manhunt.jpg" style="border-radius: 15px;"></a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="about-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>Manhunt</h4>
                            <h5>Best Use of Database Award at Brandeis Codestellation 2016</h5>
                            <h6>-Web Application for playing Manhunt</h6>
                            <h6>-Tracks the geolocation of the users</h6>
                            <h6>-Devpost <a href="https://devpost.com/software/manhunt">here</a>.</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>Oct 2016</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </section>

{% include 'footer.html' %}
