{% include 'header.html' %}

  <style>@import url('../static/css/secondaryPages.css')</style>

  <header class="masthead-about">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-12 my-auto">
          <div class="header-content mx-auto" style="text-align: center">
            <h1 class="mb-5" style="text-align: center;">About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="about">
    <div class="container">
      <div class="section-heading">
        <h2>Education</h2>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3">
                <div class="about-item">
                  <a href="https://www.columbia.edu/"><img src="../static/images/columbia.png"></a>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="about-item">
                  <div class="row">
                    <div class="col-sm-9">
                      <h4>Columbia University</h4>
                      <h5>Computer Engineering, B.S.</h5>
                      <h6>Relevant Courseworks</h6>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6>-Circuit Analysis + Lab</h6>
                          <h6>-Signals and Systems + Lab</h6>
                          <h6>-Electronic Circuits + Lab</h6>
                          <h6>-Fundamentals of Computer Systems + Lab</h6>
                        </div>
                        <div class="col-sm-6">
                          <h6>-Computer Networks</h6>
                          <h6>-Computer Science Theory</h6>
                          <h6>-Probability</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3" style="">
                      <p>2019 - 2021</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="row">
                <div class="col-lg-3">
                  <div class="about-item center">
                    <a href="https://www.brandeis.edu/"><img src="../static/images/brandeis.jpg" style="width: 70%;"></a>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="about-item">
                    <div class="row">
                      <div class="col-lg-9">
                        <h4>Brandeis University</h4>
                        <h5>Computer Science, B.S.</h5>
                      </div>
                      <div class="col-lg-3" style="">
                        <p>2016 - 2019</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3">
                  <div class="about-item center">
                    <a href="https://www.stmaur.ac.jp/"><img src="../static/images/stmaur.png" style="width: 70%;"></a>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="about-item">
                    <div class="row">
                      <div class="col-lg-9">
                        <h4>Saint Maur International School</h4>
                        <h5>International Baccalaureate Bilingual Diploma</h5>
                      </div>
                      <div class="col-lg-3" style="">
                        <p>2009 - 2016</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <br>
        <br>

        <!-- https://colorhunt.co/palette/181131 -->
        <!-- https://coolors.co/ -->
        <div class="section-heading" style="background-color:#ffe0ac">
          <h2>Work Experiences</h2>
          <hr>
        </div>

        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3">
                  <div class="about-item">
                    <a href="https://jp.micron.com/"><img src="../static/images/micron.png"></a>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="about-item">
                    <div class="row">
                      <div class="col-lg-9">
                        <h4>Micron Memory Japan</h4>
                        <h5>Failure Analysis Intern</h5>
                      </div>
                      <div class="col-lg-3" style="">
                        <p>June 2019</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="col-lg-3">
                    <div class="about-item center">
                      <a href="http://www.ni.com/ja-jp.html"><img src="../static/images/ni.png"></a>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="about-item">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>National Instruments Japan</h4>
                          <h5>Software and Hardware Engineer Intern</h5>
                        </div>
                        <div class="col-lg-3" style="">
                          <p>July 2018</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3">
                    <div class="about-item center">
                      <a href="https://www.team-lab.com/"><img src="../static/images/teamLab.png"></a>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="about-item">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>teamLab Inc.</h4>
                          <h5>Data Scientist at Machine Learning Team</h5>
                        </div>
                        <div class="col-lg-3" style="">
                          <p>May 2018 - June 2018</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3">
                    <div class="about-item center">
                      <a href=""><img src="../static/images/influ.jpeg"></a>
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="about-item">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>influ Inc.</h4>
                          <h5>Software Engineer Intern</h5>
                        </div>
                        <div class="col-lg-3" style="">
                          <p>May 2017 - July 2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>

          <div class="section-heading">
            <h2>Projects</h2>
            <hr>
          </div>

          <br>
          <br>

          <div class="row">
            <div class="col-lg-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="about-item">
                      <p>Resume</p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="about-item">
                      <p>Contact me at</p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

    </div>
  </section>

{% include 'footer.html' %}
