{% extends "base.html" %}

{% block head %}Blog{% endblock %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Blog entries{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    <h3>
      <div class="row">
        <div class="col-sm-10">
          <a class="jump_black" href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
            {{ entry.title }}
          </a>
        </div>
        <div class="col-sm-2">
          <p style="float: right;"> {{ entry.timestamp.strftime('%m/%d/%Y') }}</p>
        </div>
      </div>
    </h3>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
