    <footer class="footer">
      <!-- Icon list: https://fontawesome.com/icons -->
      <!-- Brand colours: https://brandcolors.net/ -->
      <a href="mailto: eureynoguchi@gmail.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
      <a href="https://github.com/eureyuri" target="_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/eurey-noguchi/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UCOScmlJ9J2xpLwuOYQu4n9Q" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
    </footer>
  </body>

  <!-- <script type="text/javascript" src="../static/js/nav.js"></script> -->
  <!-- <script type="text/javascript" src="../static/js/language.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/language.js') }}"></script>

</html>
