<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Personal website of Eurey (Yuri) Noguchi">
  <meta name="author" content="Eurey Noguchi">
    
  <link rel="icon" href="../static/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  
  <title>Eurey Noguchi</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      html {
          position: relative;
          min-height: 100%;
      }
      .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #042B73;
      }
    </style>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="margin-left: 20px">
    {#				<img src="/gr/static/logo_wg.png" style="width:101px;height:35px;"/>#}
                    Eurey Noguchi
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" style="z-index:10;">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse" style="margin-right: 30px">
                <ul class="nav navbar-nav navbar-right">
                  <li class="demo"><a href="/about">ABOUT</a></li>
                  <li class="demo"><a href="/work">WORK</a></li>
                  <li class="demo"><a href="/apps">APPLICATIONS</a></li>
                  <li class="demo"><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    