{% include 'header.html' %}
    <style>@import url('../static/css/index.css')</style>

    <div id="fullpage">
      <div class="section">
        <div class="cover1">
          <p class="lang" language="en">Eurey Noguchi</p>
          <p class="lang" language="jp">野口裕理</p>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="margin-top:30%;">
              <div class="typewriter">
                <h3>Designing innovation.</h3>
              </div>
            </div>
            <div class="col-sm-4"></div>

          </div>
        </div>
      </div>
      <div class="section">
        <div class="cover2">
          <div class="typewriter">
            <h2>>>> eurey.focus</h2>
          </div>

          <div class="something"><h3>Application Development</h3></div>

        </div>
      </div>

      <div class="section">
        <div class="cover3">
          <h2 class="project-h2" style="top:20%;">>>> eurey.projects</h2>
          <a style="text-decoration: none;" href="{{ url_for('about') + '#projects' }}">
            <div class="project-box-container">
              <div class="project-box">
              <div class="project">
                <div class="img-cont">
                  <img src="../static/images/teech.jpg" style="object-fit: cover; height: 168px;" />
                </div>
                <div class="text-cont project-title">
                  First Place at Columbia DevFest '20
                </div>
                <div class="text-cont">
                  React, Node, Express, MySQL
                </div>
              </div>
              <div class="project">
                <div class="img-cont">
                  <img src="../static/images/dolly_main.jpg" style="object-fit: cover; height: 168px;" />
                </div>
                <div class="text-cont project-title">
                  Dolly - Transcribe meetings and analyze keywords
                </div>
                <div class="text-cont">
                  Python, Google Cloud Speech-to-Text, nltk, PyAudio
                </div>
              </div>
              <div class="project">
                <div class="img-cont">
                  <img src="../static/images/personal_web.png" style="object-fit: cover; height: 168px;" />
                </div>
                <div class="text-cont project-title">
                  Personal Website
                </div>
                <div class="text-cont">
                  Flask, PostgreSQL, Heroku, JavaScript
                </div>
              </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="section">
        <div class="cover4">
          <h2>>>> eurey.language</h2>
          <h3 style="font-size: 1.5rem;">{ 'Programming': ['Java', 'Python', 'PostgreSQL', 'LabView', 'JavaScript'], </h3>
          <h4>'Human': ['Japanese', 'English', 'Spanish', 'Chinese'] }</h4>
        </div>
      </div>

      <div class="section">
        <div class="cover5">
          <h2 class="typewriter-black">>>> eurey.type</h2>
          <h3 style="color: black;">Digital Artist</h3>
        </div>
      </div>
    </div>

{% include 'footer.html' %}
