{% include 'header.html' %}

    <div id="fullpage">
      <div class="section">
        <div class="cover1">
          <p class="lang" language="en">Eurey Noguchi</p>
          <p class="lang" language="jp">野口裕理</p>
          <h3>Designing innovation</h3>
        </div>
      </div>
      <div class="section">
        <div class="cover2">
          <h2>>>> eurey.focus</h2>
          <h3>Application Development</h3>

          <!-- <div class="info_boxes">
            <div class="info_box">
              <h2>Application Development</h2>
            </div>
            <div class="info_box">
              <h2>Designer</h2>
            </div>
            <div class="info_box">
              <h2>Application Development</h2>
            </div>
            <div class="info_box">
              <h2>Designer</h2>
            </div>
          </div> -->
        </div>
      </div>

      <div class="section">
        <div class="cover3">
          <h2>>>> eurey.type</h2>
          <h3>Digital Artist</h3>
        </div>
      </div>
    </div>

{% include 'footer.html' %}
