{% include 'header.html' %}

  <style>@import url('../static/css/secondaryPages.css')</style>

  <header class="masthead-interests">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-12 my-auto" style="margin-bottom:0px !important;">
          <div class="header-content mx-auto" style="text-align: center">
            <div class="typewriter">
              <h1 class="mb-5" style="text-align: center;">Interests</h1>
            </div>
          </div>
        </div>

        <div class="col-lg-12 my-auto" style="text-align:center; margin-top:0px!important;">
          <div class="row">
            <div class="col-sm-3">
              <h5><a class="jump" href="#extra">Extracurricular Activities</a></h5>
            </div>
            <div class="col-sm-3">
              <h5><a class="jump" href="#music">Music</a></h5>
            </div>
            <div class="col-sm-3">
              <h5><a class="jump" href="#drawing">Drawing</a></h5>
            </div>
            <div class="col-sm-3">
              <h5><a class="jump" href="#video">Video</a></h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <section class="interests">
    <div class="container-fluid" style="padding-right: 0px;
padding-left: 0px;">

      <a id="extra"></a>
      <div class="bg-0" style="padding-bottom:100px; background-image:url('../static/images/jsa2.png'); background-position: right bottom; background-size: 30%; background-repeat: no-repeat;">
        <div class="container" style="padding-bottom:50px;">
          <div class="section-heading" style="margin-left:0px; margin-right:0px;">
            <h2 style="margin-left:5%; margin-right:5%;margin-top: 30px;">Extracurricular Activities</h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-sm-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="interests-item">
                      <a href="https://jsa-brandeis.herokuapp.com/" target="_blank"><img src="../static/images/jsa3.jpg" style="border-radius:15px;"></a>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="interests-item">
                      <div class="row">
                        <div class="col-sm-9">
                          <h4>Brandeis Japanese Student Association</h4>
                          <h5>President (2018-2019), Vice President (2017-2018), Freshman Representative (2016-2017)</h5>
                          <h6>- Improved event attendance by 300% through extensive use of SNS, personal communication, and new events</h6>
                          <h6>- Managed club funds of approximately $10,000</h6>
                          <h6>- Reorganized club structure and increased the number of board members</h6>
                          <h6>- Improved communication within board members by being inclusive and checking in daily</h6>
                          <h6>- Focused on traditional as well as modern Japanese culture</h6>
                          <h6>- Planned, managed, and held first ever culture show, J-SAI</h6>
                          <h6>- Other new events include: Natsumatsuri (Summer Festival), TEA: Taste of East Asia, Oshogatsu (Japanese New Year), Japanese Valentine's Day, Traditional Japanese Art and Culture Event, and Onigiri x Gimbap Night.</h6>
                          <h6>- Collaborated with multiple cultural clubs including Asian American, South East Asian, Cantonese, Chinese, Korean, and Taiwanese student associations, and Archery club. </h6>
                        </div>
                        <div class="col-sm-3" style="">
                          <p>2016 - 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="interests-item center">
                        <img src="../static/images/baseball2.jpg" style="border-radius: 15px;">
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="interests-item">
                        <div class="row">
                          <div class="col-sm-9">
                            <h4>Baseball Coach at Regional Baseball Club</h4>
                            <h6>- Coached at regional baseball team for elemetary school students that I used to be a part of</h6>
                            <h6>- Worked with the head coach to organize practice</h6>
                          </div>
                          <div class="col-sm-3" style="">
                            <p>2014 - 2016</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="interests-item center">
                        <img src="../static/images/tohoku.jpg" style="border-radius: 15px;">
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="interests-item">
                        <div class="row">
                          <div class="col-sm-9">
                            <h4>Volunteering at Tohoku, Japan after the Great East Japan Earthquake</h4>
                            <h5>Human Security Program, University of Tokyo</h5>
                            <h6>- Interacted with elementary school children who had lost their homes due to the earthquake.</h6>
                            <h6>- Fundraised at University of Tokyo for the victims.</h6>
                          </div>
                          <div class="col-sm-3" style="">
                            <p>2012</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <a id="music"></a>
      <div class="bg-1" style="background-color:#FFE3E6;padding-top:50px; padding-bottom:50px;">
        <div class="container">
          <div class="section-heading">
            <h2>Music</h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-sm-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="interests-item">
                      <img src="../static/images/trumpet.jpg" style="border-radius: 15px;">
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="interests-item">
                      <div class="row">
                        <div class="col-sm-9">
                          <h4>Trumpet</h4>
                          <h5>Trinity Exam Grade 8</h5>
                          <h6>- Selected as the first trumpet for the Kanto Plains Honor Band</h6>
                          <h6>- Selected for the Kanto Plains Honor Orchestra</h6>
                          <h6>- Played in Brandeis jazz band</h6>
                          <h6>- Played in high school jazz band, jazz combo, concert band, and rock band</h6>
                          <h6>- Helped founding the first jazz combo in high school</h6>
                        </div>
                        <div class="col-sm-3" style="">
                          <p>2009 - Present</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="interests-item center">
                        <img src="../static/images/piano.png" style="border-radius: 15px;">
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="interests-item">
                        <div class="row">
                          <div class="col-sm-9">
                            <h4>Piano</h4>
                            <h5>Trinity Exam Grade 5</h5>
                            <h6>- Sadly not being played too often :(</h6>
                          </div>
                          <div class="col-sm-3" style="">
                            <p>2001 - Present</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="interests-item center">
                        <img src="../static/images/guitar.jpg" style="border-radius:15px;">
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="interests-item">
                        <div class="row">
                          <div class="col-sm-9">
                            <h4>Acoustic Guitar</h4>
                            <h5>Beginner</h5>
                            <h6>- Just started :)</h6>
                          </div>
                          <div class="col-sm-3" style="">
                            <p>2020 - Present</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <div class="interests-item center">
                        <img src="../static/images/producing.jpg" style="border-radius:15px;">
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="interests-item">
                        <div class="row">
                          <div class="col-sm-9">
                            <h4>Music Production</h4>
                            <h5>Beginner</h5>
                            <h6>- Native Instruments Komplete Kontrol M32</h6>
                            <h6>- Logic Pro X</h6>
                          </div>
                          <div class="col-sm-3" style="">
                            <p>2020 - Present</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>

      <a id="drawing"></a>
      <div class="bg-1" style="background-color:white;padding-top:50px; padding-bottom:100px;background-image:url('../static/images/drawing.png'); background-position: right bottom; background-size: 50%; background-repeat: no-repeat;">
        <div class="container">
          <div class="section-heading" style="margin-left:0px; margin-right:0px;">
            <h2 style="margin-left:5%; margin-right:5%;margin-top: 30px;">Drawing</h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-lg-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="interests-item">
                      <img src="../static/images/manga.jpg" style="border-radius: 15px;">
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="interests-item">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>Manga Artist</h4>
                          <h5>Runs and maintains Web Manga website</h5>
                          <h6>- Published approximately 140 pages of comic</h6>
                          <h6>- Slowly updating!</h6>
                          <h6>- HUION Kamvas Pro 16</h6>
                          <h6>- MadiBangPaint Pro</h6>
                          <h6>- GIMP</h6>
                        </div>
                        <div class="col-lg-3" style="">
                          <p>2010 - Present</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="interests-item center">
                        <img src="../static/images/cover3.jpg" style="border-radius: 15px;">
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="interests-item">
                        <div class="row">
                          <div class="col-lg-9">
                            <h4>Digital Artist</h4>
                            <h6>- Created 3:30 min video of walking people</h6>
                            <h6>- Draws in personal time</h6>
                          </div>
                          <div class="col-lg-3" style="">
                            <p>2012 - Present</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <a id="video"></a>
      <div class="bg-1" style="background-color:#FFE3E6;padding-top:50px; padding-bottom:100px;">
        <div class="container">
          <div class="section-heading">
            <h2>Video</h2>
            <hr>
          </div>

          <div class="row">
            <div class="col-sm-12 my-auto">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="interests-item">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PlLBLpd_eSw" style="transform:scale(1); border-radius:15px;" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="interests-item">
                      <div class="row">
                        <div class="col-sm-9">
                          <h4>Video Production</h4>
                          <h6>- Runs YouTube channel (link in footer)</h6>
                          <h6>- Davinci Resolve 16</h6>
                        </div>
                        <div class="col-sm-3" style="">
                          <p>2012 - Present</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </section>
{% include 'footer.html' %}
