<nav class="nav_right">
  <ul class="navbar_list">
    <li class="navbar_item"><a href="/about">About me / Work</a></li>
    <li class="navbar_item"><a href="/interests">Interests</a></li>
    <li class="navbar_item"><a href="/blog/">Blog</a></li>
    <li class="navbar_item"><a href="https://drive.google.com/file/d/1MApQ9pWocj6k5_2tNM3QoAqmVE220OFC/view?usp=sharing" target="_blank">Resume</a></li>
    <!-- <li class="navbar_item"><a href="/login">Login</a></li> -->
    <li class="navbar_item" id="languages">
      <!-- https://www.flaticon.com/free-icon/japan_206789 -->
      <a class="language" href="#jp"><img class="jp" src="../static/images/jp.png" alt=""></a>
      <!-- https://www.flaticon.com/free-icon/united-states-of-america_555526#term=united%20states%20of%20america%20flag&page=1&position=3 -->
      <a class="language" href="#en"><img class="en" src="../static/images/en.png" alt=""></a>
    </li>
    <li class="navbar_item signature">&copy; Eurey Noguchi</li>
  </ul>
</nav>
